[user]
	email = v.hankemeier@uni-muenster.de
	name = Victoria Hankemeier
	
[includeIf "gitdir:~/repos/man_dir/"]
    path = ~/repos/man_dir/.gitconfig

[core]
	excludesfile = /home/vicky/.gitignore_global
