[user]
	email = v.hankemeier@uni-muenster.de
	name = Victoria Hankemeier
	
[includeIf "gitdir:~/repos/man_dir/"]
    path = ~/repos/man_dir/.gitconfig

[core]
	excludesfile = /home/vicky/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = false
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
